.searchTips {
  width: 100%;
  max-width: 788px;
  // outline: 1px solid #ef0a0a;
  padding-left: 4px;
  padding-right: 4px;
  
  &__list {
    display: flex;
    gap: 8px;
    padding: 0;
    margin: 0;
    list-style-type: none;

    .item {
      display: flex;
      font-size: 22px;
      gap: 3px;
      font-weight: 550;
      // letter-spacing: -0.9px;
      line-height: 24px;
      vertical-align: text-bottom;
     
    }

    .ordinary {
      padding: 4px 0px 8px 0px;
    }

    .highlighted {
      cursor: pointer;
      background-color: var(--plate-color);
      border-radius: 8px;
      padding: 4px 6px 8px 6px;       
      
      span {
        background-image: linear-gradient(92.97deg, #DA15B8 4.93%, #8D06CC 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

        &:hover {
        background-color: #eeecec;
      }
    }
  }
}

  
    
  
  